.header {
    background-color: #D9D9D9;
    height: 100px;
    display: flex;
}

.logo-link {
    margin-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 88%;
}


.logo-link > a{
    color: #071165;
    font-size: 40px;
    line-height: 100%;
}

.add-account-button-wrapper{
    flex: 12%;
    display: flex;
    align-items: center;
} 

 .userFullName{
    color: white;
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex: 60%;

}

.userFullName p {
    font-size: 32px;
    color: #071165;
}

.userImage {
    display: flex;
    align-items: center;
    flex: 40%;
}
