<div class="header">
    <div class="logo-link">
        <a routerLink="mailbox">NightMail</a>
    </div>

    <div *ngIf="user" class="add-account-button-wrapper">
            <a [routerLink]="'auth'">
                <div class="userImage" *ngIf="userImage">
                    <app-round-user-image [image]="userImage"></app-round-user-image>
                </div>
                <div class="userImage" *ngIf="!userImage">
                    <app-round-user-initials [firstName]="user.firstName" [lastName]="user.lastName"></app-round-user-initials>
                </div>
            </a>
    
            
            <a [routerLink]="'auth'">
                <div class="userFullName">
                    <p>
                        {{user.firstName}}
                    </p>
                </div>
            </a>
    </div>
</div>