<div class="password-confirmation">
    <div class="user-image">
    <div class="userImage" *ngIf="userImage">
        <app-round-user-image [image]="userImage"></app-round-user-image>
    </div>
    <div class="userImage" *ngIf="!userImage">
        <app-round-user-initials [firstName]="user?.firstName" [lastName]="user?.lastName"></app-round-user-initials>
    </div>
    </div>
    <div class="confirmation-ask">
        <p>Please enter your password for continuation</p>
    </div>
    <app-error-message [errorMessage]="errorMessage"></app-error-message>
    <div class="confirmation-form" (keyup.enter)="password1.valid ? onSubmit() : null">
        <div class="confirmation-form-password">
            <div class="label">
                <label for="password" >
                    Password
                </label>
            </div>
            <div class="input">
                <input id="password" [(ngModel)]="password" #password1="ngModel" required/>
            </div>
            <app-bordered-button [onSubmit]="onSubmit" [textButton]="'Continue'" *ngIf="password1.valid"></app-bordered-button>
            <app-disabled-bordered-button [textButton]="'Continue'" *ngIf="password1.invalid"></app-disabled-bordered-button>
        </div>
    </div>
</div>
