.password-confirmation{
    background-color: #585858;
    width: 23%;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px #585858;
    border-radius: 10px;
}

.user-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
.confirmation-ask {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.label {
    width: 90%;
    margin: auto;
    color: white;
    font-size: 18px;
}

.input {
    text-align: center;
}

.input > input {
    width: 90%;
    
}

input, input:focus {
    background-color: #585858;
    border-left: none;
    border-right: none;
    border-top:  none;
    color: white;
}

.confirmation-form {
    margin-top: 3%;
}

input:focus {
    outline: none;
}