<div class="auth-register">
    <div *ngIf="errorMessage" class="errormessage">
        {{errorMessage}}
    </div>
    <div class="label">
        <label for="email">Email</label>
    </div>
    <div class="input">
        <input id="email" [(ngModel)]="user.email" #email="ngModel" required/>
    </div>

    <div class="label">
        <label for="password">Password</label>
    </div>
    <div class="input">
        <input id="password" [(ngModel)]="user.password" #password="ngModel" required/>
    </div>

    <div class="checkbox">
        <input type="checkbox" id="rememberMe" [(ngModel)]="user.rememberMe"/>
        <label for="rememberMe">Remember me</label>
    </div>



    <div class="loginButton" *ngIf="email.valid && password.valid">
        <a href="#" (click)="onSubmit()" >    
            <div class="login-link">
                Login
            </div>
        </a>
    </div>

    <div class="disabledLoginButton" *ngIf="email.invalid || password.invalid">
        <a>
            <div class="login-link-disabled">
                Login
            </div>
        </a>

    </div>

    <div class="link-to-register">
        <a routerLink="/register">Dont have an Account?</a>
    </div>
</div>