<div class="auth-register" (keyup.enter)="email.valid && password.valid ? onSubmit() : null">
        <app-error-message *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error-message>    
    
        <div class="label">
            <label for="email">Email</label>
        </div>
        <div class="input">
            <input id="email" [(ngModel)]="user.email" #email="ngModel" required (input)="clearErrorMessage()"/>
        </div>
    
        <div class="label">
            <label for="password">Password</label>
        </div>
        <div class="input">
            <input type="password" id="password" [(ngModel)]="user.password" #password="ngModel" required (input)="clearErrorMessage()"/>
        </div>
    
        <div class="checkbox">
            <input type="checkbox" id="rememberMe" [(ngModel)]="user.rememberMe"/>
            <label for="rememberMe">Remember me</label>
        </div>
    
    
        <app-bordered-button [onSubmit]="onSubmit" [textButton]="'Login'" *ngIf="email.valid && password.valid"></app-bordered-button>
        <app-disabled-bordered-button [textButton]="'Login'" *ngIf="email.invalid || password.invalid"></app-disabled-bordered-button>

    <app-blue-link [routerLink]="'/register'" [textLink]="'Dont have an Account?'"></app-blue-link>
</div>