<!-- Button trigger modal -->
    <button type="button" class="btn btn-link linkbutton" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
        <div class="my-folders-tab folder">
            <div class="text">
                My Folders
            </div>
            <div class="plus">
                +
            </div>
        </div>
    </button>    
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true" (keyup.enter)="onSubmit(cancelButton)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel1">Create folder</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-error-message [errorMessage]="errorMessage"></app-error-message>
          <div>
            <label>Name</label>
          </div>
            <input type="text" class="form-control" [(ngModel)] ="name" required/>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onSubmit(cancelButton)">Create Folder</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cancelButton>Cancel</button>

        </div>
      </div>
    </div>
  </div>