.auth-register {
    background-color: #585858;
    width: 23%;
    margin: auto;
    height: fit-content;
    box-shadow: 1px 1px 4px #585858;
    border-radius: 10px;
    padding-top: 0.3%;
}

.labelandinput {
    margin-top: 3%;
}
.label {
    width: 90%;
    margin: auto;
    color: white;
    font-size: 18px;
}

.input {
    text-align: center;
}

.input > input {
    width: 90%;
    
}

input, input:focus {
    background-color: #585858;
    border-left: none;
    border-right: none;
    border-top:  none;
    color: white;
}

.register-link, .register-link-disabled{
    color: white;
    border: 1px white solid;
    border-radius: 50px;
    width: 100%;
    text-align: center;
}

.registerButton, .disabledRegisterButton {
    width: 40%;
    margin: auto;
    margin-top: 4%;
}

.register-link, .register-link-disabled {
    
    background-color: #585858;
}


.linktologin {
    text-align: center;
    margin-top: 2%;
}

.linktologin > a {
    color: #071165;
}

.not-valid {
    color: red;
}

.not-valid-input {
    border-bottom-color: red;
}

input:focus {
    outline: none;
}

.register-link-disabled {
    border-color: grey;
    color: grey;
}

.errormessage{
    color: red;
    width: 90%;
    margin:auto;
}