.my-folders-tab{
    display: flex;
}

.text {
    flex: 80%;
}

.plus {
    font-weight: bold;
}

.my-folders-list{
    width: 90%;
    margin-left:auto;
}

.my-folder{
    font-size: 12px;
}

.personal-folder-list{
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}