<div class="user--management">
    <div *ngIf="!user" class="add-account-button-wrapper-wo-logged-user">
        <a routerLink="login">
            <div class="add-account-button">
                <div class="white-plus">+</div>
                <div class="add-account-text">Add an Account</div>
            </div>
        </a>
    </div>

    <div *ngIf="user" class="add-account-button-wrapper">
        <div class="userImage" *ngIf="userImage">
            <app-round-user-image [image]="userImage"></app-round-user-image>
        </div>

        <div class="userImage" *ngIf="!userImage">
            <app-round-user-initials [firstName]="user.firstName" [lastName]="user.lastName"></app-round-user-initials>
        </div>
        <div class="userFullName">
            <p>
                {{user.firstName}} {{user.lastName}}
            </p>
        </div>

        <div class="dropdown menubutton">
            <button class="btn btn-secondary bg-transparent border border-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" (click)="logOut()" >Log Out</button>
              <button class="dropdown-item" (click)="goToEditProfile()">Edit Profile</button>
            </div>
          </div>
    </div>

    <div class="logged-accounts"></div>
        <div class="register-link-wrapper">
            <a routerLink="/mailbox">    
                <div class="register-link">
                    Go to Mails
                </div>
            </a>
        </div>
</div>  