<div class="user--management">
    <div class="add-account-button-wrapper">
        <a routerLink="login">
            <div class="add-account-button">
                <div class="white-plus">+</div>
                <div class="add-account-text">Add an Account</div>
            </div>
        </a>
    </div>
    <div class="logged-accounts"></div>
        <div class="register-link-wrapper">
            <a routerLink="register">    
                <div class="register-link">
                    Create an Account
                </div>
            </a>
        </div>
</div>  