.editUserInfo {
    background-color: #585858;
    width: 23%;
    margin: auto;
    height: fit-content;
    box-shadow: 1px 1px 4px #585858;
    border-radius: 10px;
    padding-top: 0.3%;
}

.labelandinput {
    margin-top: 3%;
}
.label {
    width: 90%;
    margin: auto;
    color: white;
    font-size: 18px;
}

.input {
    text-align: center;
}

.input > input {
    width: 90%;
    
}

.input input, .input input:focus {
    background-color: #585858;
    border-left: none;
    border-right: none;
    border-top:  none;
    color: white;
}

.input input:focus {
    outline: none;
}

.not-valid {
    color: red;
}

.not-valid-input {
    border-bottom-color: red;
}

.user-image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userImage {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.new-image-input {
    flex:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-image-input input {
    width: 80%;
}

.save-button {
    padding-top: 5%;
    padding-bottom: 10%;
}